<% include ./header %>

<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <%_ if(data=="null") {_%>
      <h1>Nouveau contrat d'assurance</h1>
      <%_}_%>
      <%_ if(data!="null") {_%>
      <h1>Éditer contrat d'assurance</h1>
      <%_}_%>
      <form method="post" action="#" >
      <p>
          <label>Type de contrat :</label>
          <input type="text" value="<%= data[0].Type %>" name="type" id="type" required>
      </p>
      <p>
          <label>Nom de l'assureur :</label>
          <select name="nom" value="<%= data[0].NomAssureur %>" id="nom" required>
            <%_ assureur.forEach(function(el){_%>
                <%_ if(data[0].NomAssureur == el.Nom) {_%>
                <option selected> <%= el.Nom %> </option>
                <%_}_%>
                <%_ if(data[0].NomAssureur != el.Nom) {_%>
                <option> <%= el.Nom %> </option>
                <%_}_%>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <label>Adresse de l'assureur :</label>
          <select name="adresse" value="<%= data[0].AdresseAssureur %>" id="adresse" required>
            <%_ assureur.forEach(function(el){_%>
                <%_ if(data[0].AdresseAssureur == el.Adresse) {_%>
                <option selected> <%= el.Adresse %> </option>
                <%_}_%>
                <%_ if(data[0].AdresseAssureur != el.Adresse) {_%>
                <option> <%= el.Adresse %> </option>
                <%_}_%>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <button type="submit" class="btn-new" name="val"><%_ if(data=="null") {_%>Ajouter<%_}_%><%_ if(data!="null") {_%>Editer<%_}_%></button>
      </p>
  </form>
    </div>
</div>

<% include ./footer %>