<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
    <%_ if(data=="null") {_%>
      <h1>Nouveau modèle de voiture</h1>
      <%_}_%>
      <%_ if(data!="null") {_%>
      <h1>Éditer modèle de voiture</h1>
      <%_}_%>
      <form method="post" action="#" >
       <p>
          <label>Code du modèle :</label>
          <input type="text" value="<%= data[0].Code %>" name="code" id="code" required >
      </p>
      <p>
          <label>Libelle :</label>
          <input type="text" value="<%= data[0].Libelle %>" name="libelle" id="libelle" required>
      </p>
      <p>
          <label>Marque :</label>
          <input type="text" value="<%= data[0].Marque %>" name="marque" id="marque" required>
      </p>
      <p>
          <label>Type :</label>
          <input type="text" value="<%= data[0].Type %>" name="type" id="type" required>
      </p>
      <p>
          <label>Puissance :</label>
          <input type="text" value="<%= data[0].Puissance %>" name="puissance" id="puissance" required>
      </p>
      <p>
          <label>Code de tarification :</label>
          <select name="codeT" id="codeT" required>
            <%_ tarif.forEach(function(el){_%>
                <%_ if(data[0].CodeTarif == el.Code) {_%>
                <option selected> <%= el.Code %> </option>
                <%_}_%>
                <%_ if(data[0].CodeTarif != el.Code) {_%>
                <option> <%= el.Code %> </option>
                <%_}_%>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <button type="submit" class="btn-new" name="val"><%_ if(data=="null") {_%>Ajouter<%_}_%><%_ if(data!="null") {_%>Editer<%_}_%></button>
      </p>
  </form>
    </div>
</div>
<% include ./footer %>