<% include ./header %>
<div class="container-fluid text-center">    
    <div class="col-sm-8 text-left"> 
      <%_ if(data=="null") {_%>
      <h1>Nouveau bon de retour</h1>
      <%_}_%>
      <%_ if(data!="null") {_%>
      <h1>Éditer bon de retour</h1>
      <%_}_%>
      <form method="post" action="#" >
       <p>
          <label>Numéro de la réservation :</label>
          <select name="reserv" id="reserv" required>
            <%_ reserv.forEach(function(el){_%>
                <%_ if(data[0].NReserv == el.ID) {_%>
                <option selected> <%= el.ID %> </option>
                <%_}_%>
                <%_ if(data[0].NReserv != el.ID) {_%>
                <option> <%= el.ID %> </option>
                <%_}_%>
            <%_ }); _%>
          </select>
      </p>
      <p>
          <label>Kilométrage au retour :</label>
          <input type="number" value="<%= data[0].KMRetour %>" name="km" id="km" min=0 required>
      </p>
      <p>
          <label>Date de retour :</label>
          <input type="text" value="<%= data[0].DateRetour %>" name="date" id="date" required>
      </p>
      <p>
          <label>Réparations :</label>
          <input type="text" value="<%= data[0].Reparation %>" title='Indiquez "Non" si la voiture ne doit pas être réparée' name="rep" id="rep">
      </p>
      <p>
          <button type="submit" class="btn-new" name="val"><%_ if(data=="null") {_%>Ajouter<%_}_%><%_ if(data!="null") {_%>Editer<%_}_%></button>
      </p>
  </form>
    </div>
</div>
<% include ./footer %>