<% include ./header %>

<div class="container">
    <div class="center-template">    
      <h1>Transactions hebdomadaires</h1>
      <table>
        <thead>
          <th>Nom du client</th>
          <th>Prénom du client</th>
          <th>Numéro de réservation</th>
          <th>Etat de la réservation</th>
          <th title="un - indique qu'il faut rembourser le montant au client">Résultat</th>
        </thead>
        <tbody>
          <%_ data.forEach(function(el){_%>
            <tr>
              <td><%=el.Nom %></td>
              <td><%=el.Prenom %></td>
              <td><%=el.ID %></td>
              <td><%=el.Etat %></td>
              <td><%=el.Payer %>€</td>
            </tr>
          <%_ }); _%>
        </tbody>
      </table>
      <hr>
  </div>
</div>
<% include ./footer %>