<% include ./header %>

<div class="container">
    <div class="center-template">    
      <h1>Table <%= table %></h1>
      <table>
        <thead>
          <th></th>
          <th>Numéro de voiture</th>
          <th>Date d'achat</th>
          <th>Prix d'achat</th>
          <th>Statut</th>
          <th>Code du modèle</th>
        </thead>
        <tbody>
          <%_ data.forEach(function(el){_%>
            <tr>
              <td><a href='supprimerVoiture/<%=el.NVoiture%>' title="Supprimer cette ligne"><img src="/images/supp.png" alt="suppression"></a>
                <a href='editerVoiture/<%=el.NVoiture%>' title="Éditer cette ligne"><img src="/images/edit.png" alt="edition"></a></td>
              <td><%=el.NVoiture %></td>
              <td><%=el.DateAchat %></td>
              <td><%=el.PrixAchat %></td>
              <td><%=el.Statut %></td>
              <td><%=el.CodeModele %></td>
            </tr>
          <%_ }); _%>
        </tbody>
      </table>
      <hr>
  </div>
</div>
<% include ./footer %>